<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Potyczki</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h3>Zarządzanie Potyczkami</h3>
    <hr>

    <a th:href="@{/fight/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Dodaj potyczkę
    </a>

    <a th:href="@{/}"
       class="btn btn-primary btn-sm mb-3">
        Powrót do menu
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Nazwa</th>
            <th>Akcja</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempFight : ${fights}">
            <td th:text="${tempFight.fightName}"/>

            <td>
<!--                <a th:href="@{/fight/showFormForUpdate(fightId=${tempFight.id})}"-->
<!--                   class="btn btn-info btn-sm">-->
<!--                    Edytuj-->
<!--                </a>-->

                <a th:href="@{/fight/startFight(fightId=${tempFight.id})}"
                   class="btn btn-info btn-sm">
                    Rozpocznij walkę
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>